.container {
  background: url('/livings.jpg'); 
  background-size:  cover;
  &__video {
    text-align: center;
    padding-top: 30px;
  }
}

// study
.container1 {
  background: url('/video-studys.jpg'); 
  background-size:  cover;
}

// animal 
.container2 {
  background: url('/video-animals.jpg'); 
  background-size:  cover;
}